@import './global.scss';

h1 {
  text-align: center;
}
      // outline: $yellow solid 2px;
.container {
  height: auto;
}
.artists {
  position: relative;
  list-style: none;
  p, h3 {
    text-decoration: none;
  }
  h3 {
    margin: 0 0 1.5rem 0;
  }
  .artist {
    background: #fff;
    position: relative;
    list-style: none;
    padding: 2rem;
    margin: 0 0 2rem 0;
    opacity: .99;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 3rem;
      height: 3rem;
      background: $yellow;
      opacity: 1;
      z-index: -1;
    }
    &:before {
      top: -1.5rem;
      left: -1.5rem;
    }
    &:after {
      bottom: -1.5rem;
      right: -1.5rem;
    }
    .artist-content {
      h3 {

      }
      p {

      }
    }
  }
}