.flex {
  display: flex;
  flex-direction: row;
}
.bloc {
  // flex: auto;
  width: 40%;
  margin: 0 5%;
}
.artist {
  position: relative;
  list-style: none;
  p, h3 {
    text-decoration: none;
  }
  h3 {
    margin: 0 0 1.5rem 0;
  }
}