@import './global.scss';

body {
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  padding: 0;
}
#app {
  /* background: #000; */
  min-height: 100vh;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  .container {
    background: #000;
    color: #FFF;
    padding-top: 7rem;
    width: 100%;
    &.full {
      height: calc(100vh - 7rem);
    }
    .content {
      width: 80%;
      padding: 3rem 10% 0 10%;
      background: #000;
    }
    a {
      color: $yellow;
    }
  }

  .flex {
    display: flex;
    flex-direction: row;
    @include breakpoint($md, down) {
      flex-direction: column;
    }
  }
  .bloc {
    // flex: auto;
    width: 40%;
    margin: 0 5%;
    @include breakpoint($md, down) {
      width: 80%;
      margin: 0 10%;
    }
  }
  .btn {
    display: inline-block;
    margin-top: 3rem;
    padding: 1rem 1.5rem;
    background: #fff;
    border: solid 2px #000;
    cursor: pointer;
  }

  form {
    // margin: 1.5rem 0;
    padding: 0 4rem;
    text-align: left;
    label {
      display: inline-block;
    }
    input, textarea {
      display: block;
      width: calc(100% - 2rem);
      margin: .5rem 0 1.5rem 0;
      outline: none;
      border: 0;
      &:focus {
        outline: $yellow solid 2px;
      }
    }
    input {
      padding: 0 1rem;
      height: 2rem;
    }
    textarea {
      min-height: 4rem;
      padding: 1rem;
    }
    button {
      cursor: pointer;
      position: relative;
      padding: 0.5rem 1rem;
      color: $yellow;
      background: #000;
      border: solid 2px $yellow;
      font-size: 1.2rem;
      overflow: hidden;
      z-index: 10;
      // &:before {
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   background: #fff;
      //   width: 100%;
      //   height: 100%;
      //   left: -100%;
      //   bottom: -100%;
      //   transition: all 0.3s linear;
      //   z-index: 0;
      // }
      // &:hover {
      //   &:before {
      //     left: 0;
      //     bottom: 0;
      //   }
      // }
    }
  }
}