.artist {
  text-align: right;
  position: relative;
}
.cross {
  position: absolute;
  cursor: pointer;
  display: block;
  top: 0.8rem;
  right: 0.8rem;
  width: .8rem;
  height: .8rem;
  padding: .3rem;
  background: url('../../assets/cross.svg') no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all .1s linear;
  &:hover {
    transform: rotate(45deg);
  }
}
.artist-content {
  text-align: center;
}
.open-form {
  display: block;
  cursor: pointer;
  text-align: center;
}