.artist {
  text-align: right;
}
.cross {
  position: absolute;
  cursor: pointer;
  display: block;
  top: 0.5rem;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  background: url('../../assets/cross.svg') no-repeat;
  background-position: center;
  background-size: 100%;
}
.artist-content {
  text-align: center;
}
.open-form {
  cursor: pointer;
}