
h1 {
  text-align: center;
  margin-bottom: 3rem;
}
form {
  width: 30rem;
  margin: 0 auto;
  text-align: left;
  label {
  display: inline-block;
  width: 100%;
  padding-left: .5rem;
  margin: .4rem 0;
  }
  input {
    height: 1.5rem;
    margin: .5rem 0 1rem 0;
    // outline: red 2px;
  }
}
