@keyframes slideout {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes slidein {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.container {
  // background: #000;
  // padding-top: 7rem;
  // height: calc(100vh - 7rem);
  // width: 100%;
  overflow: hidden;
  // .background-container {
  //   position: fixed;
  //   z-index: -5;
  //   height: calc(100% - 7rem);
  //   width: 100%;
  //   left: 0;
  //   right: 0;
  //   top: 7rem;
  //   bottom: 0;
  //   background: url('../assets/uploads/paysage1.jpg');
  // }
  h1 {
    margin: 0;
    color: #fff;
    font-weight: normal;
  }
  ul {
    position: fixed;
    margin-top: 7.5rem;
    // padding: 15rem 0 0 0;
    margin: 0;
    height: calc(100% - 7rem);
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    // transform-origin: 50% 100%;
    // transform: perspective(300px) rotateX(-10deg);
    li {
      height: 7rem;
      z-index: 1;
      text-align: center;
      .background {
        animation: slideout 1s ease;
        // animation-timing-function: ease;
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        left: -100%;
        z-index: -1;
        overflow: hidden;
        img {
          min-width: 100%;
          min-height: 100%;
        }
      }
      a {
        display: block;
        line-height: 7rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: yellow;
        font-weight: bold;
        transition: all .3s linear;
      }
      &.active {
        .background {
          // transition: all .5s ease;
          animation: slidein .5s ease;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          // z-index: -1;
        }
      }
    }
  }
}
